<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>

	<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

	{{ template "_internal/opengraph.html" . }}
	{{ template "_internal/schema.html" . }}
	{{ template "_internal/twitter_cards.html" . }}

	{{ $css := slice }}
	{{ range .Site.Params.css }}
		{{ $css = $css | append (resources.Get .) }}
	{{ end }}
	{{ $css = $css | resources.Concat "css/bundle.css" | postCSS | fingerprint }}
	<link href="{{ $css.RelPermalink }}" rel="stylesheet" type="text/css" media="all">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">


	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

	{{- if not .Site.IsServer }}
		{{- if hasPrefix .Site.GoogleAnalytics "G-" }}
		{{ template "_internal/google_analytics.html" . }}
		{{- else }}
		{{ template "_internal/google_analytics_async.html" . }}
		{{- end }}
	{{- end }}
</head>
<body data-smooth-scroll-offset="77">
	{{ partial "header" . }}
	<div class="main-container">
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
	</div>
{{/*  <script src="{{ "js/jquery-3.1.1.min.js" | relURL }}"></script>  */}}
{{/*  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  */}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js" integrity="sha512-6ORWJX/LrnSjBzwefdNUyLCMTIsGoNP6NftMy2UAm1JBm6PRZCO1d7OHBStWpVFZLO+RerTvqX/Z9mBFfCJZ4A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ "js/flickity.min.js" | relURL }}"></script>
<script src="{{ "js/parallax.js" | relURL }}"></script>
<!-- <script src="{{ "js/smooth-scroll.min.js" | relURL }}"></script> -->
{{/*  <script src="{{ "js/smooth-scroll.polyfills.min.js" | relURL }}"></script>  */}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/16.1.3/smooth-scroll.polyfills.min.js" integrity="sha512-LZ6YBzwuQvIG41twjliX3HUVeAd+ErnJ0UsqRnkI4firX2l71jxbKJoax/hu7XY2tiyLl0YA2kcnz/XEW+9O3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ "js/scripts.js" | relURL }}"></script>
</body>
</html>



