<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>

	<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

	{{ template "_internal/opengraph.html" . }}
	{{ template "_internal/schema.html" . }}
	{{ template "_internal/twitter_cards.html" . }}

	<link href=" {{ "css/stack-interface.css" | relURL }}" rel="stylesheet" type="text/css" media="all">
	<link href=" {{ "css/socicon.css" | relURL }}" rel="stylesheet" type="text/css" media="all" />
	<link href=" {{ "css/bootstrap.css" | relURL }}" rel="stylesheet" type="text/css" media="all" />
	<link href=" {{ "css/flickity.css" | relURL }}" rel="stylesheet" type="text/css" media="all" />
	<link href=" {{ "css/stack-interface.css" | relURL }}" rel="stylesheet" type="text/css" media="all" />
	<link href=" {{ "css/theme-tangerine.css" | relURL }}" rel="stylesheet" type="text/css" media="all" />
	<link href=" {{ "css/custom.css" | relURL }}" rel="stylesheet" type="text/css" media="all" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">


	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

	{{- if not .Site.IsServer }}
		{{- if hasPrefix .Site.GoogleAnalytics "G-" }}
		{{ template "_internal/google_analytics.html" . }}
		{{- else }}
		{{ template "_internal/google_analytics_async.html" . }}
		{{- end }}
	{{- end }}
</head>
<body data-smooth-scroll-offset="77">
	{{ partial "header" . }}
	<div class="main-container">

	
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
	</div>
<script src="{{ "js/jquery-3.1.1.min.js" | relURL }}"></script>
<script src="{{ "js/flickity.min.js" | relURL }}"></script>
<script src="{{ "js/parallax.js" | relURL }}"></script>
<!-- <script src="{{ "js/smooth-scroll.min.js" | relURL }}"></script> -->
<script src="{{ "js/smooth-scroll.polyfills.min.js" | relURL }}"></script>
<script src="{{ "js/scripts.js" | relURL }}"></script>
</body>
</html>



