{{ $image := false }}
{{ with partial "get-image.html" . }}
  {{ $image = .Resize "730x" }}
{{ end }}

<article class="masonry__item voh vnn">
	<div class="article__title text-center">
		<a href="{{ .Permalink }}">
			<h2>{{ .Title }}</h2>
		</a> <span>{{ .Date.Format "January 2, 2006" }} in </span>
		<span>
			{{ range .Params.tags }}
			<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
			{{ end }}
		</span> </div>
	<div class="article__body">
		
		{{ if $image }}
		<a href="{{ .Permalink }}"> <img alt="{{ .Title }}" src="{{ $image.RelPermalink }}"> </a>
		{{ end }}

		<div>
			{{ .Summary }}

		</div>
		
		{{ if .Truncated }}
			<a href="{{ .Permalink }}">Read more...</a>
		{{ end }}

		
	</div>
</article>
