/*! Place your custom styles here */

.cover h1 {
    font-size: 3.8em;
    font-weight: 700;
    text-shadow: 6px 6px 10px #1a1919;
}

.cover .container {
    margin-top: -93px;
}

.cover h2 {
    text-shadow: 6px 6px 10px #1a1919;
    font-size: 1.6em;
}

.pricing .h1 {
    font-size: 3.7em;
    font-weight: 400;
}


#recent .project img:hover, article img.featured:hover {
    opacity: .7;
}
#recent .project img, article img.featured {
    transition: all .5s;
}

.article__body ul {
    list-style: outside;
    padding-left: 1em;
}

.article__body ul, .article__body ol {
    font-size: 1.35714286em;
    line-height: 1.68421053em;
}

.article__body li {
    padding: 0 1em;
    margin-left: 0;
    margin-bottom: 0;
}

.article__body ol li:not(:last-child) {
    margin-bottom: 0;
}

.article__body ol {
    padding-left: 1em;
}

ol:not([class*="menu"]) li > a {
    font-weight: normal;
}