@import "bulma/bulma.sass";
@import "fresh/core";

.hero-body {
    background-image: url(/iphone-notebook-pen-working-dark.jpg);
    background-size: cover;

    .title,
    .subtitle {
        text-shadow: 6px 6px 10px lighten($color: black, $amount: 10);
    }

    .title {
        color: white;
    }

    .subtitle {
        color: darken($color: white, $amount: 15)
    }
}

.testimonial {
    max-width: none;
    .author h5 {
        font-size: 1rem;
    }
}

