@import "fresh/core";

$link: $secondary;
$link-hover: lighten($link, 15);

@import "bulma/bulma.sass";

.overlay:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    // background: #2c1c19;
    // background: darken($secondary, 35);
    background: #333;
    opacity: .8;
}

.hero .navbar {
    background: white;
}

.hero-body {
    background-image: url(/iphone-notebook-pen-working-34123.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .title,
    .subtitle {
        text-shadow: 6px 6px 10px lighten($color: black, $amount: 10);
    }

    .title {
        color: white;
    }

    .subtitle {
        color: darken($color: white, $amount: 15)
    }
}

.section-secondary {
    color: $white;
    h2.title {
        color: $white;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $white;
    }

    .divider {
        background: $primary;
    }

    a {
        color: $white;
        &:hover {
            color: darken($white, 15)
        }
    }
}

a {
    transition: all 0.5s;
}

#recent {
    .project img {
        transition: all 0.5s;
        &:hover {
            opacity: 0.7;
        }
    }
}

.testimonial {
    max-width: none;
    .author h5 {
        font-size: 1rem;
    }

    blockquote {
        background-color: #f5f5f5;
    }
}

