{{- $about := .Site.Params.about }}
{{- $title    := index $about "title" }}
{{- $subtitle := index $about "subtitle" }}
{{- $tiles    := index $about "tiles" }}
<section id="about" class="section section-feature-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      {{ with $subtitle}}<h3 class="subtitle is-5 is-muted">{{ . }}</h3>{{ end }}
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="row">
        <div class="columns is-centered">
          {{ range $tiles }}
          <div class="column is-5">
              <div class="mt-5">
                <div class="content">
                    <h3>{{.title}}</h3>
                    <p class="icon-box-text">{{ .text | markdownify }}</p>
                </div>
              </div>
          </div>
          {{ end }}
        </div>
      </div>
     </div>
  </div>
</section>