{{- $pricing := .Site.Params.pricing }}
{{- $title    := index $pricing "title" }}
{{- $subtitle := index $pricing "subtitle" }}
{{- $options  := index $pricing "options" }}
<section id="pricing" class="section section-secondary is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      {{ with $subtitle}}<h3 class="subtitle is-5 is-muted">{{ . }}</h3>{{ end }}
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
        <div class="columns">
          {{ range $options }}
          <div class="column is-one-third">
              <div class="mt-5 pricing-table">
                    <h4 class="pricing-title">{{.title}}</h4>
                    <div class="price">${{ .price }}</div>
                    <ul class="table-list">
                      {{ range .items }}
                        <li>{{ . }}</li>
                      {{ end }}
                    </ul>
                    <div class="table-buy">
                      <a href="#contact" class="pricing-action">Contact Me</a>
                    </div>
              </div>
          </div>
          {{ end }}
        </div>
     </div>
  </div>
</section>