{{- $recent := .Site.Params.recent }}
{{- $title    := index $recent "title" }}
{{- $subtitle := index $recent "subtitle" }}
{{- $tiles    := index $recent "tiles" }}
{{- $projects := where .Site.RegularPages "Section" "project" -}}

<section id="recent" class="section section-secondary is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      {{ with $subtitle }}<h3 class="subtitle is-5 is-muted">{{ . }}</h3>{{ end }}
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns is-multiline">
        {{- range $projects -}}
        <div class="column is-one-forth project">
          {{- $image := index (.Resources.Match "feature.*") 0 -}}
          {{- if not $image }}
          {{- $image = index (.Resources.ByType "image") 0 -}}
          {{end}}
          {{- $thumb := $image.Fill "480x300" }}

          <a href="{{.RelPermalink}}" title="{{ .Title }}">
            <img src="{{ $thumb.RelPermalink }}" alt="{{.Title}}" width="{{$thumb.Width}}" height="{{$thumb.Height}}">
          </a>
          <h3>
            <a href="{{.RelPermalink}}" title="{{ .Title }}">
              {{.Title}}
            </a>
          </h3>
        </div>
        {{end}}
      </div>
    </div>
    </div>
</section>