{{- $testimonials := .Site.Params.testimonials }}
{{- $title    := index $testimonials "title" }}
{{- $subtitle := index $testimonials "subtitle" }}
{{- $clients  := index $testimonials "clients" }}
<section id="testimonials" class="section is-medium section-feature-grey">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">{{ $title }}</h2>
      {{- with $subtitle }}
      <h3 class="subtitle is-5">{{ . }}</h3>
      {{- end }}
    </div>

    <div class="content-wrapper">
      <div class="columns is-vcentered is-multiline">
        {{- range $clients }}
        <div class="column is-one-third">
          <figure class="testimonial">
            <blockquote>
              {{ .quote | markdownify }}
            </blockquote>
            <div class="author">
              <h5>{{ .name }}</h5>
            </div>
          </figure>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>